{% extends 'base.html' %}

{% block head_title %}JonPizza{% endblock %}

{% block desc %}About the developer and maintainer of RavenVotes!{% endblock %}

{% block content %}
    <h1 class="header">JonPizza!</h1>
    <img src="https://i.imgur.com/EvPO1VE.jpg" width="100%" alt="meme">
    <p>
        This costs me roughly $110 dollars per year to host (quite a bit when you are 14...) If you would keep this service running, consider 
        donating! <b>RJonAkgVRo5M3XjkPfNuTmVwu6fznkuJGL</b>
    </p>
    <p>
        The best way to contact me is via the Ravencoin discord, I am JonPizza#1675. You can also
        <a href="mailto:jon@jon.network" class="link">send me a email</a>!
    </p>
    Here is my other website: <a href="//jon.network" class="link">Jon's Network</a>
    <br>
    And one of my YouTube videos!!
    <iframe width="100%" height="600" src="https://www.youtube.com/embed/6XoUb5Ca_OE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}