{% extends 'base.html' %}

{% block head_title %}Questions & Answers{% endblock %}

{% block desc %}Questions and answers to RavenVotes most commonly asked questions!{% endblock %}

{% block content %}
    <h1 class="header">Questions & Answers</h1>
    <div id="before-poll">
        <h2>Why do I need to send an asset to RavenVotes before my poll starts?</h2>
        <p>
            This is so that the creator of the poll does not have to vote YES or NO to create the poll, allowing
            the creator to remain unbias, if they so choose. If you absolutly cannot spare a token, then 
            <a href="mailto:jon@jon.network" class="link">email me</a>!
        </p>
    </div>
{% endblock %}